.file {
    cursor:pointer;
}

.tools {
    margin-right: 28px;
    margin-top: -34px;
}

.reload {
    font-size: 25px;
    cursor:pointer;
}

.directory {
    font-weight:bold;
}
.modal-dialog {
    margin: 30px auto;
    width: 80%;
}
.container-full {
  margin: 0 auto;
  width: 100%;
}

html, body {
    height: 100%;
}

#files {
    right:0px;
}

#questions {
    left:0px;
}

.full-height {
    bottom: 50px;
    position: absolute;
    top: 50px;
}
.full-height > div {
    bottom: -50px;
    overflow-y: auto;
    padding-right: 20px;
    position: absolute;
    top: 50px;
    width: 95%;
}

.cannot-write {
    color:red;
}
.cannot-write-text {
    color:red;
    font-style: italic;
    font-size:11px;
}

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 52px;
    bottom: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
    .sidebar-left {
        left: 0;
    }
    .sidebar-right {
        right: 0;
    }
}

.arrow_box {
    border: 3px solid #c2e1f5;
}
.arrow_box:after, .arrow_box:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.pointer {
    cursor:pointer;
}

.arrow_box:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #88b7d5;
    border-width: 50px;
    margin-top: -50px;
}
.arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #c2e1f5;
    border-width: 54px;
    margin-top: -54px;
}

.console {
    padding: 2px 4px;
    font-size: 90%;
    color: #fff;
    background-color: #333;
    display:block;
}

warning {
    color:red;
}

.destruct-cache {
	float: right;
	z-index: 500;
	margin-top: 13px;
	margin-right: 5px;
}

.filewaiter,
#filewaiter-target {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.filewaiter {
	z-index:100;
}
