.file {
    cursor:pointer;
}

.tools {
    margin-right: 28px;
    margin-top: -34px;
}

.reload {
    font-size: 25px;
    cursor:pointer;
}

.directory {
    font-weight:bold;
}
.modal-dialog {
    margin: 30px auto;
    width: 80%;
}
.container-full {
  margin: 0 auto;
  width: 100%;
}

html, body {
    height: 100%;
}

#files {
    right:0px;
}

#questions {
    left:0px;
}

.full-height {
    bottom: 50px;
    position: absolute;
    top: 50px;
}
.full-height > div {
    bottom: -50px;
    overflow-y: auto;
    padding-right: 20px;
    position: absolute;
    top: 50px;
    width: 95%;
}

.cannot-write {
    color:red;
}
.cannot-write-text {
    color:red;
    font-style: italic;
    font-size:11px;
}
