<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./tests/bootstrap.php"
         backupGlobals="false"
         processIsolation="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         strict="false">
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".phtml">./src/CrudGenerator/</directory>
            <directory suffix=".php">./src/CrudGenerator/</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="General">
            <directory>./tests/CrudGenerator/Tests/General/</directory>
        </testsuite>
        <testsuite name="PDOs">
            <directory>./tests/CrudGenerator/Tests/PDO/</directory>
        </testsuite>
        <testsuite name="ZF2">
            <directory>./tests/CrudGenerator/Tests/ZF2/</directory>
        </testsuite>
    </testsuites>
</phpunit>