<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="bootstrap.php">
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./../src/CrudGenerator/</directory>
            <exclude>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="./../build/logs/clover.xml"/>
    </logging>
    <testsuites>
        <testsuite name="PDO">
            <directory>Tests/PDO</directory>
            <listeners>
                <listener class="CrudGenerator\Tests\PDO\TestListener" file="./CrudGenerator/Tests/PDO/TestListener.php"/>
            </listeners>
        </testsuite>
        <testsuite name="General">
            <directory>Tests/General</directory>
        </testsuite>
        <testsuite name="ZF2">
            <directory>Tests/ZF2</directory>
            <listeners>
                <listener class="CrudGenerator\Tests\ZF2\TestListener" file="./CrudGenerator/Tests/ZF2/TestListener.php"/>
            </listeners>
        </testsuite>
    </testsuites>
</phpunit>
