<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="bootstrap.php"
         backupGlobals="false"
         processIsolation="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./../src/CrudGenerator/</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="Full test">
            <directory>./CrudGenerator</directory>
        </testsuite>
    </testsuites>
</phpunit>