<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="file = null" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Preview file "{{ file.title }}"</h4>
            </div>
            <div class="modal-body">
                <pre><code ng-bind-html="file.content" class="hljs"></code></pre>
            </div>
        </div>
    </div>
</div>