{% extends 'layout.html.twig' %}
{% set active = 'homepage' %}

{% block content %}
    <div id="files" class="col-md-9 full-height">
        <h2>File list</h2>
        <div>
            <file-tree family="fileList" file-view="viewFile(fileObject)">
            </file-tree>
        </div>
    </div>
    <div class="col-md-3 full-height" id="questions">
        <h2>Questions</h2>
        <div>
            <questions></questions>
        </div>
    </div>
{% endblock %}